@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');



.backImg {
    height: 100vh;
    background-image: url("../img/harry4.png");
   
    background-size : cover;
}

.footer1 {
    color:red;
    text-align: center;
    margin-top: 200px;
    opacity: 0.4;
    font-family: 'Covered By Your Grace', cursive;
    animation:fadeIn 5s ;
}

@-webkit-keyframes  fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
